.droneContainer{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.droneCamera{
  width: 100%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  border-radius: 20px;
}

.droneControls{
  display: flex;
  justify-content: space-around;
}

.controlLeft{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controlRight{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controlButton{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #0d8d17;
  color: white;
  cursor: pointer;
}

.controlButton:hover{
  background-color: #0a6b13;
}