.droneContainer{
  display: flex;
  /* flex-direction: column; */
  padding: 20px;
}

.droneDetector{
  width: 65%;
  height: auto;
}

.droneCamera{
  width: 100%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  border-radius: 20px;
}

.droneFeatures{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.droneFeaturesText{
  font-weight: larger;
  padding: 10px;
  color: #0a6b13;
  background-color: white;
  border-radius: 10px;
}

.droneFeaturesButton{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: #0a6b13;
  cursor: pointer;
  font-size: larger;
}

.droneControls{
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controlLeft{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controlRight{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controlButton{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #919191;
  color: white;
  cursor: pointer;
}

.controlButton:hover{
  background-color: #0a6b13;
}