.App{
  background-color: rgba(255, 255, 255, 0.1);
  height: calc(100vh - 70px);
  width: 100%;
  display: grid;
  place-items: center;
}

.container{
  width: 1010px;
  height: 583px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.containerLeft{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  height: 100%;
}

.containerTitle{
  width: 611px;
  font-size: 40px;
  font-weight: bold;
  text-align: start;
  color: #000000;
  white-space: pre-line;
}

.containerDescription{
  width: 564px;
  font-size: 20px;
  font-weight: Regular;
  text-align: start;
  color: #000000;
  margin-top: 20px;
  white-space: pre-line;
}

.containerButton{
  width: 191px;
  height: 59px;
  background-color: #282c34;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerButton:hover{
  opacity: 0.8;
  transform: translateY(-1px);
  cursor: pointer;
}

.containerLeaf{
  width: 58px;
  height: 78px;
  position: absolute;
  bottom: -27px;
  right: 150px;
}

.containerImage{
  position: absolute;
  top: 10px;
  right: -330px;
}