.container{
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.containerLeft{
  display: flex;
  align-items: center;
  gap: 20px;
}

.containerRight{
  display: flex;
  align-items: center;
  gap: 20px;
}

.containerLeft .main{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #292D32;
}

.containerLeft .main:hover{
  opacity: 0.8;
}

.containerLeft .infor{
  font-size: 20px;
  font-weight: Regular;
  text-decoration: none;
  color: #000000;
}

.containerLeft .infor:hover{
  opacity: 0.8;
}

.containerRight .login{
  font-size: 16px;
  font-weight: Regular;
  width: 122px;
  height: 37px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerRight .login:hover{
  opacity: 0.8;
  transform: translateY(-1px);
}

.containerRight .register{
  font-size: 20px;
  font-weight: Regular;
  text-decoration: none;
  color: #000000;
}